* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Playfair Display', serif;
}

a {
  text-decoration: none;
}

/*start of header style */

header {
  height: 65px;
  width: 100%;
  background-color:rgba(255, 159, 26, 0.8);
  position :fixed;
  top: 0;
  z-index: 10;
}



.clear {
  clear: left;
}

.logo {
  width: 150px;
  margin-top: 10px;
}

.header-left {
  float: left;
}	

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: #3d3d3d;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.menu-icon {
  color: #3d3d3d;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  visibility: hidden;
}
/*end of header style*/

/*start of top-wrapper*/
.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
	padding: 180px 0 100px 0;
	color: #4b4b4b;
	background-image: url(https://media.architecturaldigest.com/photos/571e97ca741fcddb16b559cd/master/w_1600%2Cc_limit/modernist-decor-inspiration-06.jpg);
	background-size: cover;
	text-align: center;
	font-weight: normal;
}


.top-wrapper h1 {
	font-size: 50px;
	letter-spacing: 3px;
	opacity: 1;
	margin-bottom: -3px;
}

.top-wrapper h2 {
	font-size: 35px;
	margin-bottom: 10px;
	opacity: 1;
}

.top-wrapper p {
	margin-bottom: 3px;
	opacity: 1;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.btn {
	padding: 12px 24px;
	color: white;
	display: inline-block;
	border-radius: 4px;
	text-align: center;
	background-color:#4b4b4b;
}

.btn:hover {
	background-color:#ff9f1a;
}

/*end of top-wrapper*/

/*start of portofolio*/

.project-wrapper{
	text-align: center;
	padding-bottom: 50px;
	padding-left: 5%;
	padding-right: 5%;
	background-color: rgba(75, 75, 75,0.1);
}

.heading {
  padding-top: 50px;
  padding-bottom: 50px;
  color: #3d3d3d;
}

.heading h2 {
  font-weight: normal;
}

.home{
	position: relative;
	float: left;
	width: 25%;
}

.project-icon{
	position: relative;
	margin: 0px 3px;
}

.project-image{
	display: inline-block;
	object-fit: fill;
	height: 150px;
	width: 80%;
}

.overlay {
	display: inline-block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 150px;
	width: 80%;
	margin-left: 10%;
	opacity: 0;
	transition: .5s ease;
	background-color: rgba(255, 175, 64,0.5);
}

.project-title {
  color: #3d3d3d;
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: bold;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.project-icon:hover .overlay {
	opacity: 1;
}

.text-content {
	width: 80%;
	display: inline-block;
	margin-top: 15px;
	font-size: 15px;
	color:#3d3d3d;
	justify-content: center;

}

/*start of crew-wrapper*/
.team-wrapper{
	text-align: center;
	padding-bottom: 80px;
	padding-left: 5%;
	padding-right: 5%;
	background-color: #fff;
}

.team-wrapper h2{
	padding-top: 20px;
}

.crew{
	position: relative;
	float: left;
	width: 20%;
}

.crew-photo{
	position: relative;
	height: 200px;
}

.crew-description p{
	padding-bottom: 1px;
	font-weight: bold;

}

.fab {
  margin-right: 5px;
}


.ig {
  background-color: #3d3d3d;
  padding: 10px 30px;
  cursor: pointer;
  

}

.ig:hover {
	background-color:rgba(113, 88, 226,0.7);
	padding: 10px 30px;
	box-shadow: 0 5px rgba(113, 88, 226,1.0);
}

.ig:active {
  position: relative;
  top: 5px;
  box-shadow: none;
}

/*start of form section*/

.form-wrapper{
	text-align: center;
	padding-bottom: 80px;
	padding-left: 5%;
	padding-right: 5%;
	border-top: 2px solid #dee7ec;

}




input, textarea{
  width:100%;
  margin-top:5px;
  margin-bottom:20px;
  padding:20px;
  font-size:18px;
  border:1px solid #dee7ec;
}


.submit{
  font-family: 'Playfair Display', serif;
  cursor: pointer;
}

.form-wrapper h2{
	padding-bottom: 1px;
	margin-bottom: 1px;
}

.required{
	color:#ff3838;
}


/*start of footer*/
footer img {
  width: 125px;
}

footer p {
  color: #3d3d3d;
  font-size: 12px;
}

footer {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color:rgba(255, 159, 26, 0.8);
  text-align: center;
}
